@font-face {
  font-family: 'SourceSans';
  src: url('./../fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf');
}

:root {
  height: 100vh;
}

body {
  font-family: SourceSans;
  height: 100vh;
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-sizing: border-box;
  margin: 0px;

  appearance: none;
}

* {
  margin: 0;
  border: none;
}

#lbar-headr a span,
.lbar-list1-itms a span,
.lbar-list2-itms a span,
#headr-top-r p,
#headr-botm-l-div p:nth-child(even),
.main-proj-crd-title,
.main-p,
.main-anoun-divs-title,
.main-trnd-divs-title {
  font-weight: 600;
}

.main-trnd-divs-title:hover,
#headr-botm-r button:hover,
.main-proj-crd-icns img:hover,
.main-trnd-divs-title:hover {
  cursor: pointer;
}

#lbar-headr a,
.lbar-list1-itms a,
.lbar-list2-itms a,
#headr a {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  flex-direction: row;
}

.lbar-list1-itms a img,
.lbar-list2-itms a img,
#headr-top-l a img,
#headr-top-r a img {
  height: 1.5rem;
}

#lbar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 10px 10px 0px 10px;
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  gap: 2rem;
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
  min-width: max-content;
}

#lbar-headr-icon-div a img {
  height: 3rem;
}

#lbar-headr a span {
  padding: 0% 0% 0% 5%;
  font-size: 1.7em;
  color: darkorange;
}

.lbar-list1-itms a span,
.lbar-list2-itms a span {
  padding: 0% 0% 0% 5%;
  font-size: 1.3em;

  bottom: 10px;
  left: 10px;
  /* color: #828282; */
  color: darkgray;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #c6e2ff;
    text-shadow:
      0 0 2px rgba(202, 228, 225, 0.92),
      0 0 10px rgba(202, 228, 225, 0.34),
      0 0 4px rgba(30, 132, 242, 0.52),
      0 0 7px rgba(30, 132, 242, 0.92),
      0 0 11px rgba(30, 132, 242, 0.78),
      0 0 16px rgba(30, 132, 242, 0.92);
  }
}

#headr p {
  margin: 0px;
}

a {
  text-decoration: none;
}

#headr,
#headr-botm-r button,
.main-proj-crd,
#main-anoun,
#main-trnd {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#headr {
  padding: 10px 40px 30px 40px;
  z-index: 0;
}

#headr-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 35%;
}

#headr-top-l {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-items: center;
}

#headr-top-l input {
  font-style: italic;
  width: 100%;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 15px;
}

#headr-top-l a:hover {
  cursor: default;
}

#headr-top-l a img,
#headr-top-r a img {
  padding-right: 5%;
}

#headr-top-r {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#headr-top-r p,
.main-proj-crd-title {
  font-size: 1.2em;
}

#headr-top-r img {
  width: 60px;
}

#headr-botm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 70%;
}

#headr-botm-l {
  display: flex;
  align-items: flex-end;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  gap: 1rem;
}

#headr-botm-l #big-pic {
  width: 75px;
  border-radius: 50%;
  align-self: flex-end;
}

#headr-botm-l-div {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 10px; */
}

#headr-botm-l-div p:nth-child(even) {
  font-size: 1.7em;
  line-height: 1;
  color: lightslategray;
}

#headr-botm-l-div p:first-child {
  line-height: 1.5;
}

#headr-botm-r {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  gap: 1rem;
  padding-top: 10px;
}

#headr-botm-r button {
  padding: 8px 30px;
  border-radius: 20px;
  background: greenyellow;
  color: forestgreen;
  font-weight: bold;

}

#headr-botm-r button:active {
  transform: translateY(4px);
}

#main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px 40px 5px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.main-p {
  align-self: end;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

#main-proj {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 30px;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  padding: 0px 20px 0px 0px;
}

#main-proj-main-p {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.main-proj-crd {
  border-radius: 7px 10px 50px 7px;
  display: grid;
  border-left: 5px solid coral;
  padding: 15px 20px;
  background: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%);
  background: white;
}

.main-proj-crd-title {
  align-self: end;
  padding-bottom: 5px;
}

.main-proj-crd-txt,
.main-trnd-divs-p {
  font-size: 0.9em;
}

.main-proj-crd-icns {
  justify-self: end;
  align-self: end;
  display: flex;
  gap: 15px;
}

.main-proj-crd-icns img {
  height: 1.7rem;
}

#anoun-and-trnd-div {
  grid-row: 2 / 5;
  display: grid;
}

#main-anoun {
  display: grid;
  grid-column: 1 / 3;
  padding: 10px 20px;
  font-size: 0.8em;
  border-radius: 15px;
  background: white;
}

#main-anoun-main-p {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#with-topdown-border {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}

.main-anoun-divs {
  padding: 20px 0px;
}

.main-anoun-divs-title {
  padding-bottom: 5px;
  font-size: 1.2em;
}

.main-anoun-divs img {
  grid-template-columns: 1 / 2;
}

#main-trnd {
  display: grid;
  grid-column: 1 / 3;
  border-radius: 15px;
  background: white;
}

#main-trnd-main-p {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin-top: 2rem;
}

.main-trnd-divs {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  align-items: center;

}

.main-trnd-divs img {
  width: 60px;
}

.main-trnd-divs-dv {
  padding: 10px 0;
}

.main-trnd-divs-title:hover {
  color: dodgerblue;
}