#headr,
#lbar,
#main,
#main-proj,
#main-anoun,
#main-trnd {
  /* border: 1px solid black; */
  /* background: lightseagreen; */
}

body {
  height: 100vh;
  overflow: visible;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  box-sizing: border-box;
  margin: 0px;
}

* {
  margin: 0;
}

#lbar-headr a span,
.lbar-list1-itms a span,
.lbar-list2-itms a span,
#headr-top-r p,
#headr-botm-l-div p:nth-child(even),
.main-proj-crd-title,
.main-p,
.main-anoun-divs-title,
.main-trnd-divs-title {
  font-weight: bold;
}

#lbar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 10px 20px 0px 10px;
  display: grid;
  min-width: 11rem;
  grid-template-rows: 6rem repeat(auto-fit, minmax(auto, 20rem));
  border-right: 1px solid grey;
  /* position: fixed; */
  /* gap: 10px;*/
}

#lbar-headr,
.lbar-list1-itms,
.lbar-list2-itms {
  /* overflow: hidden; */
}

#lbar-headr a,
.lbar-list1-itms a,
.lbar-list2-itms a,
#headr a {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  flex-direction: row;
}

#lbar-headr-icon-div a img {
  height: 3rem;
  /* align-content: center; */
}

.lbar-list1-itms a img,
.lbar-list2-itms a img,
#headr-top-l a img,
#headr-top-r a img {
  height: 1.5rem;
}

#lbar-headr a span {
  padding: 0% 0% 0% 5%;
  font-size: 1.8em;
}

.lbar-list1-itms a span,
.lbar-list2-itms a span {
  padding: 0% 0% 0% 5%;
  font-size: 1.4em;
}

#headr p {
  margin: 0px;
}

a {
  text-decoration: none;
}

#headr {
  /* display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; */
  height: 10rem;
  padding: 10px 40px 30px 40px;
  border-bottom: 1px solid grey;
}

#headr-top {
  display: grid;
  /* grid-column: 1 / 3; */
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  /* align-items: end; */
  height: 35%;
}

#headr-top-l {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-items: center;
}

#headr-top-l input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

#headr-top-l a img,
#headr-top-r a img {
  padding-right: 5%;
}

#headr-top-r {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  /* justify-self: end; */
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

#headr-top-r p,
.main-proj-crd-title {
  font-size: 1.3em;
}

#headr-top-r img {
  width: 60px;
}

#headr-botm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 70%;
}

#headr-botm-l {
  display: flex;
  align-items: flex-end;
  /* align-content: flex-end; */
  /* justify-content: flex-end; */
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  gap: 1rem;
}

#headr-botm-l #big-pic {
  width: 75px;
  border-radius: 50%;
  align-self: flex-end;
}

#headr-botm-l-div {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 10px; */
}

#headr-botm-l-div p:nth-child(even) {
  font-size: 2em;
  line-height: 1;
}

#headr-botm-l-div p:first-child {
  line-height: 0.5;
}

#headr-botm-r {
  display: flex;
  align-items: flex-end;
  /* align-content: flex-end; */
  justify-content: flex-end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* justify-self: end; */
  gap: 1rem;
  padding-top: 10px;
}

button {
  padding: 8px 30px;
  border-radius: 20px;

}

/* div > img {
  width: 60px;
  border-radius: 50%;
} */

#main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
}

.main-p {
  align-self: end;
  font-size: 1.5em;
  padding-left: 20px;
  padding-bottom: 5px;
  
}

#main-proj {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 30px;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  padding: 0px 20px 0px 20px;
}

.main-proj-crd {
  /* background-color: aqua; */
  /* background-color: aqua; */
  /* border: 1px solid red; */
  border-radius: 7px 10px 50px 7px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  border-left: 5px solid green;
  padding: 20px 30px;
  /* height: 190px; */
  background: lightsteelblue;
}

.main-proj-crd-title {
  /* margin-top: 0;
  margin-bottom: 20px; */
  align-self: end;
  padding-bottom: 5px;
}

.main-proj-crd-icns {
  justify-self: end;
  align-self: end;
  display: flex;
  gap: 15px;
}

.main-proj-crd-icns img {
  height: 1.7rem;
}

#main-anoun {
  display: grid;
  grid-column: 2 / 3;
  padding: 10px 20px;
  font-size: 0.9em;
  border: 1px solid grey;
  border-radius: 15px;
}

.with-topdown-border {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.main-anoun-divs-title {
  padding: 10px 0px;
  font-size: 1.2em;
  /* font-size: ; */
}

.main-anoun-divs img {
  grid-template-columns: 1 / 2;
}

#main-trnd {
  display: grid;
  grid-column: 2 / 3;
  border: 1px solid grey;
  border-radius: 15px;
  /* padding: 10px 20px; */
  /* display: grid;
  /* grid-template-rows: auto; */
  /* grid-template-columns: 1fr 3fr; */
}

.main-trnd-divs {
  padding: 10px 20px;
  display: grid;
  /* grid-template-rows: auto; */
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  /* height: 51px;*/
}

.main-trnd-divs-dv {
  grid-template-columns: 2 / 3;
}